.form__submit-button_type_login{
  margin-top: 216px;
  background-color: #FFFFFF;
  border-radius: 2px;
  color: #000000;
  padding-bottom: 0;
}

.form__submit-button_type_login:hover{
  opacity: 0.85;
  background-color: #FFFFFF;
}