.header__link{
  color: #FFFFFF;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  padding-top: 6px;
  text-align: end;
  grid-area: link;
}

.header__link:hover{
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .header__link {
    align-self: center;
    padding-top: 0;
    padding-right: 60px;
  }
}

@media screen and (max-width: 425px) {
  .header__link {
    padding-right: 30px;
  }
}

@media screen and (max-width: 375px) {
  .header__link {
    font-size: 14px;
    line-height: 17px;
  }
}