@import url(./__nav/navbar__nav.css);
@import url(./__user-name/navbar__user-name.css);
@import url(./__button/navbar__button.css);

@media screen and (max-width: 768px) {
  .navbar{
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    padding-bottom: 30px;
    padding-top: 40px;
    width: 100%;

  }
}

@media screen and (max-width: 425px) {
  .navbar{
  }
}
