.logo {
  max-width: 142px;
  max-height: 33px;
  padding-bottom: 31px;
}

@media screen and (max-width: 768px) {
  .logo {
    max-width: 100%;
    padding-top: 24px;
    padding-left: 60px;
    align-self: start;
  }
}


@media screen and (max-width: 425px) {
  .logo {
    padding-left: 30px;
  }
}
