.popup__close-icon_type_close{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 29px;
  right: 60px;
  transform: rotate(180deg);
  display: none;
  background-image: url(../../../../images/menu-button.svg);
}

.popup__close-icon_type_close:hover{
  background-image: url(../../../../images/menu-button.svg);
}

@media screen and (max-width: 768px) {
  .popup__close-icon_type_close{
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .popup__close-icon_type_close{
    right: 30px;
  }
}
