.navbar__button{
  background-color: transparent;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #A9A9A9;
  padding-left: 24px;
  outline: none;
  cursor: pointer;
}

.navbar__button:hover{
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .navbar__button {
    padding-left: 0;
    padding-top: 18px;
  }
}