.register__login-link{
  padding-left: 5px;
  color: #FFFFFF;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.register__login-link:hover{
  opacity: 0.6;
}